* 
{
    text-align:center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color:#777;
    background:#777;
    font-size:18px;
    width:960px;
}

#wrapper {
    width:960px;
}

header{
    background:#ebebeb;
    padding:20px;
    margin:5px 20px 5px 200px;
    width:900px;
    color:black;
}
#nav{
    background:#ebebeb;
    padding:20px;
    margin:5px 20px 5px 200px;
    width:900px;
    color:black;

}
#content-wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;

}
#section {
    background:#ebebeb;
    padding:10px; 
    color:black;
    margin:10px 0px 0px 200px;
    width:495px;
    float:left;
    
    
}
#aside {
    background:#ebebeb;
    position:absolute;
    left:750px;
    padding:10px;
    width:380px;
    height:240px;
    margin: 10px 10px 20px 0px;
    color:black;
    float:left;
    
    
}


#article {
    clear:both;
    background:#777;
    padding:5px;
    margin:5px 5px 5px 5px;
    width:460px;
    color:#ebebeb;
    height:200px;
    z-index:-2px;
      
}

#heading{
    background:#ebebeb;
    color:#777;
    width:400px;
    padding:20px;
    margin:0px 0px 5px 5px;
    z-index:20px;
}
#paragraph{
    background:#ebebeb;
    color:#777;
    width:400px;
    padding:20px;
    margin:0px 0px 5px 5px;
    z-index:20px;
}

#footer{
    background:#ebebeb;
    padding:10px;
    margin:10px 20px 0px 200px;
    width:920px;
    color:black;
}





    
