* {
    box-sizing: border-box;
    text-align:center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color:#777;
    background:#777;
    width:960px;
    font-size:18px;

} 
header {
    padding:20px;
    margin-top:10px;
    margin-bottom:20px;
    color:black;
    background:#ebebeb;
    width:100%;
    margin-left:200px;
}

nav {
   padding:10px;
   margin-bottom:20px;
   color:black;
   background:#eee;
   width:495px;
   margin-left:200px;
}

section {
   padding:10px;
   margin-bottom:20px;
   color:black;
   background:#eee;
   width:495px;
   margin-left:200px;
}

footer{
    background: #ebebeb;
    color:black;
    width:960px;
    margin-left:200px;
    padding:20px;
}

#nav {
    padding:20px;
    margin-bottom:20px;
    margin-top:20px;
    color:black ;
    background:#eee;
    width:100%;
}

#section {
    padding:80px;
    margin-bottom:20px;
    color:black;
    background:#eee;
    float:left;
    z-index:-20px;    
}
#aside {
    padding:20px;
    margin-bottom:20px;
    color:black;
    background:#eee;
    float: right;
    }

#article {
    clear:both;
    overflow:auto;
    text-align:left;
    padding:80px;
    text-align:center;
    color:#ebebeb;
    background:purple;
}



